.fill-remaining{
  margin:0;
  min-height: 100vh;
}

.navbar-text {
  margin-left: 15px;
}

.navbar {
    margin-bottom: 0 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > td,
.table-striped > tbody > tr:nth-of-type(odd) > th {
    background-color: #fff599;
}

.table-striped > tbody > tr:nth-child(even) > td {
    background-color: #fff9b3;
}

.dashboard{
  font-weight:bold;
  font-size:2em;
  text-align:center;
}
.width50{
  font-size:1.3em;
  text-align:center;
  min-width:50%;
}
.single-centered{
  display: flex;
  justify-content:center;
  margin-bottom:10px;
}
.single-centered .selectize-input{
  padding:5px 5px 0px 0px;
  border:none;
  margin-left:20px;
}
.long-textarea{
  width:25em;
}
.short-textarea{
  width:5em;
}
.flexible-text{
  max-width: none !important;
  width:100%;
  min-width:30px;
  box-sizing: border-box;
}
.suspended{
  background-color: lightpink;
}
.table-striped > tbody > tr.suspended > td {
    background-color: lightpink;
}
textarea {
  text-align: center;
}
.points-row {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
}

.grid-parent3 {
    display: grid;
    place-items:center;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1px 8px;
    width:60%;
    font-weight:bold;
    margin:auto
}

.grid-parent {
    display: grid;
    place-items:center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 1px 8px;
    width:70%;
    font-weight:bold;
    margin:auto
}