<toaster-container></toaster-container>
<div ng-if="main.hasRole('guest')">
  <!--main hub-->
  <div ng-if="!main.chosenView">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-striped dashboard" style="table-layout: fixed; width: 100%;">
            <thead style="width:100%;">
              <tr style="width:100%;">
                <th class="width50">Customers</th>
                <th class="width50">Gold Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td uib-tooltip="This link is to manage Gold Point Member Primary and Associate Accounts.  Public users may view thier own information here." 
                  tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="main.setView(0)">
                  <a href="#">{{main.views[0]}}</a>
                </td>
                <td ng-click="main.setView(3)"><a href="#" ng-if="main.hasRole('user')">{{main.views[3]}}</a></td>
              </tr>
              <tr>
                <!--<td uib-tooltip="This link is to connect a Gold Points Member Account to a User Account." 
                  tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="main.setView(2)">
                  <a href="#" ng-if="main.hasRole('user')">{{main.views[2]}}</a>
                </td>-->
                <td></td>
                <td uib-tooltip="This link is to create a New Gold Points Primary Member. Associate Accounts can be created or monitored in 'Manage Members'" 
                  tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="main.setView(4)">
                  <a href="#" ng-if="main.hasRole('user')">{{main.views[4]}}</a>
                </td>
              </tr>
              <tr>
                <td></td>
                <td ng-click="main.setView(5)"><a href="#" ng-if="main.hasRole('user')">{{main.views[5]}}</a></td>
              </tr>
              <tr>
                <td></td>
                <td ng-click="main.setView(6)"><a href="#" ng-if="main.hasRole('user')">{{main.views[6]}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--Back to Hub Button-->
  <div ng-if="main.chosenView">
    <div class="single-centered">
      <button class="btn btn-success" ng-click="main.backToHub()">Return to Hub</button>
    </div>
    <hr>
  </div>
  <!--Manage Members Selector-->
  <div ng-if="main.testView('Manage Members','Assign Points')&&!main.showTransactions&&main.hasRole('user')">
    <div class="single-centered">
      <button class="btn btn-primary" ng-click="main.go()">Display all customers with</button>
    </div>
    <div class="single-centered">
      ID: &nbsp<textarea rows="1" ng-model="main.query.id" class="short-textarea" ng-keydown="main.handle($event,2)" ng-focus="main.query.id=''"></textarea>&nbsp
      Username: &nbsp<textarea rows="1" ng-model="main.query.username" ng-keydown="main.handle($event,2)" ng-focus="main.query.username=''"></textarea>&nbsp
    </div>
    <div class="single-centered">
      First Name: &nbsp<textarea rows="1" ng-model="main.query.firstName" ng-keydown="main.handle($event,2)" ng-focus="main.query.firstName=''"></textarea>&nbsp
      Last Name: &nbsp<textarea rows="1" ng-model="main.query.lastName" ng-keydown="main.handle($event,2)" ng-focus="main.query.lastName=''"></textarea>
    </div>
    <div class="single-centered">
      Email: &nbsp<textarea rows="1" ng-model="main.query.email" ng-keydown="main.handle($event,2)" ng-focus="main.query.email=''"></textarea>
    </div>
    <div class="single-centered">
      Account#: &nbsp<textarea rows="1" ng-model="main.query.account" ng-keydown="main.handle($event,2)"></textarea>&nbsp
      CA: &nbsp<textarea rows="1" ng-model="main.query.ca" class="short-textarea" ng-keydown="main.handle($event,2)" ng-focus="main.query.ca=''"></textarea>
    </div>
  </div>
    <!--Assign Points Area-->
    <div class="single-centered">
      <div ng-if="main.chosenView==='Assign Points'" style="background-color:#ffffcc;width:70%;margin:50px 0 50px 0;padding:25px 0 25px 0;border:4px solid black;">
        <div class="single-centered" style="font-weight:bold;margin:0;">
          Account# &nbsp&nbsp
          Member Id &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          Points &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          Status
        </div>
        <div class="single-centered">
          <textarea rows="1" ng-model="main.transaction.account" class="short-textarea" ng-keydown="main.handle($event,3)"></textarea>&nbsp
          <textarea rows="1" ng-model="main.transaction.userId" class="short-textarea" ng-keydown="main.handle($event,3)"></textarea>&nbsp
          <ui-select ng-model="main.transaction.awardRedeem" theme="selectize">
            <ui-select-match placeholder="Choose...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="choice in ['award','redeem']" >
              <div ng-bind-html="choice | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>&nbsp&nbsp
          <!--<textarea rows="1" ng-model="main.transaction.awardRedeem" class="short-textarea" ng-keydown="main.handle($event,3)"></textarea>-->&nbsp
          <textarea rows="1" ng-model="main.transaction.points" class="short-textarea" ng-keydown="main.handle($event,3)" ng-focus="main.transaction.points=''"></textarea>&nbsp
          <ui-select ng-model="main.transaction.status" theme="selectize">
            <ui-select-match placeholder="Choose...">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="choice in ['Approved','Pending','Rejected']" >
              <div ng-bind-html="choice | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
          <!--<textarea rows="1" ng-model="main.transaction.status" class="short-textarea" ng-keydown="main.handle($event,3)"></textarea>&nbsp-->
        </div>
        <div class="single-centered" style="font-weight:bold;margin:0;">
          Date Flown &nbsp&nbsp&nbsp&nbsp
          Booking# &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          Routes &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          Flight#
        </div>
        <div class="single-centered">
          <textarea rows="1" ng-model="main.transaction.dateFlown" class="short-textarea" ng-keydown="main.handle($event,3)"></textarea>&nbsp
          <textarea rows="1" ng-model="main.transaction.booking" class="short-textarea" ng-keydown="main.handle($event,3)"></textarea>&nbsp
          <textarea rows="1" ng-model="main.transaction.route" class="short-textarea" ng-keydown="main.handle($event,3)"></textarea>&nbsp
          <textarea rows="1" ng-model="main.transaction.flight" class="short-textarea" ng-keydown="main.handle($event,3)"></textarea>&nbsp
        </div>
        <div class="single-centered">
          <strong>Description &nbsp</strong>
          <textarea rows="3" ng-model="main.transaction.description" class="long-textarea" ng-keydown="main.handle($event,3)"></textarea>&nbsp
        </div>
        <div class="single-centered">
          <button class="btn btn-success" ng-click="main.assign()">Assign Gold Points</button>
        </div>
      </div>
    </div>
  <!--Manage Members Results-->
  <div ng-if="main.testView('Manage Members','Assign Points')&&main.queryGo">
    <div class="single-centered" ng-if="main.customers.length===0">
      <h3 ng-if="!main.hasRole('user')">There are not currently any GP members that have an email that matches the current 
          user email. Ensure you have registered as a user with the correct email, or contact Bering Air to ensure your 
          GP Membership has the correct email attached to it.</h3>
      <h3 ng-if="main.hasRole('user')">There are no GP members that match the current query, please try again.</h3>
    </div>
    <!--Back to Query Button-->
    <!--<div class="single-centered">
      <button class="btn btn-warning" ng-click="main.retryQuery()">Retry Query</button>
    </div>-->
    <!--Query Results pagination-->
    <div style="margin-left:10%;margin-right:10%;display:flex;justify-content:space-between;">
      <span>
        <!--<button ng-click="main.rwStart()" class="btn btn-default" style="display:inline-block">&lt;&lt;</button>
        <button ng-click="main.rw()" class="btn btn-default" style="display:inline-block">&lt;</button>-->
      </span>
      <span>Records &nbsp {{main.start+1}} - {{main.end+1}} &nbsp of &nbsp {{main.customers.length}} &nbsp total</span>
      <span>
        <!--<button ng-click="main.ff()" class="btn btn-default" style="display:inline-block">&gt;</button>
        <button ng-click="main.ffEnd()" class="btn btn-default" style="display:inline-block">&gt;&gt;</button>-->
      </span>
    </div>
    <!--Query Results for Manage Members-->
    <div style="margin-left:10%;margin-right:10%;">
      <table class="table table-bordered table-striped">
        <thead><tr style="background-color:black;">
          <th style="color:white;font-weight:bold">Select</th>
          <th style="color:white;font-weight:bold">Account</th>
          <th style="color:white;font-weight:bold">User ID</th>
          <th style="color:white;font-weight:bold">Username</th>
          <th style="color:white;font-weight:bold">Full Name</th>
          <th style="color:white;font-weight:bold">Date of Birth</th>
          <th style="color:white;font-weight:bold">Email</th>
          <th style="color:white;font-weight:bold">Phone</th>
          <th style="color:white;font-weight:bold">Points</th>
          <th style="color:white;font-weight:bold"></th>
          <th style="color:white;font-weight:bold"></th>
        </tr></thead>
        <!--<tbody><tr ng-repeat="cust in main.customers | limitTo: main.showLength : main.start">-->
        <tbody><tr ng-repeat="cust in main.customers" ng-class="main.suspensionClass(cust)">
          <td>&nbsp&nbsp<input type="checkbox" style="transform:scale(3);margin:10px;" ng-model="cust.selected" ng-click="main.select(cust)"></td>
          <td ng-click="main.altSelect(cust)">{{cust.account}}</td>
          <td ng-click="main.altSelect(cust)">{{cust.userId}}</td>
          <td ng-click="main.altSelect(cust)">{{cust.userName}}</td>
          <td ng-click="main.altSelect(cust)">{{cust.fullName}}</td>
          <td ng-click="main.altSelect(cust)">{{cust.dob}}</td>
          <td ng-click="main.altSelect(cust)">{{cust.email}}</td>
          <td ng-click="main.altSelect(cust)">{{cust.phone}}</td>
          <td ng-click="main.altSelect(cust)">{{cust.currentPoints}}</td>
          <td ng-click="main.altSelect(cust)"></td>
          <td ng-if="main.hasRole('superadmin')"><a ng-click="main.suspendMember(cust)" class="trash" ng-if="!cust.suspended">
            <span class="fa-solid fa-circle-pause fa-2x" uib-tooltip="Suspend Member"></span></a>
            <a ng-click="main.suspendMember(cust)" ng-if="cust.suspended">
            <span class="fa-solid fa-circle-play fa-2x" uib-tooltip="Remove Suspension From Member"></span></a>
          </td>
        </tr></tbody>
      </table>
    </div>
  </div>
  <!--Show Transactions-->
  <div ng-if="main.showTransactions&&main.chosenView==='Manage Members'">
    <div class="single-centered" ng-if="main.hasRole('user')">
      <button class="btn btn-warning" ng-click="main.undoST()">Back to Query</button>
    </div>
    <hr>
    <div class="single-centered">
      <h3>Details for GP Member</h3>
    </div>
    <div class="single-centered">
      Member Name: &nbsp <textarea rows="1" ng-model="main.customer.fullName"></textarea>
    </div>
    <div class="single-centered">
      Email: &nbsp <textarea rows="1" ng-model="main.customer.email" ng-if="main.hasRole('user')"></textarea>
          <strong ng-if="!main.hasRole('user')">{{main.customer.email}}</strong>&nbsp
      Phone: &nbsp <textarea rows="1" ng-model="main.customer.phone"></textarea>&nbsp
      Birthday: &nbsp <textarea rows="1" ng-model="main.customer.dob"></textarea>&nbsp
    </div>
    <div class="single-centered">
      Address: &nbsp <textarea rows="1" ng-model="main.customer.address"></textarea>&nbsp
      City: &nbsp <textarea rows="1" ng-model="main.customer.city"></textarea>&nbsp
      State: &nbsp <textarea rows="1" ng-model="main.customer.state" class="short-textarea"></textarea>&nbsp
      Zip: &nbsp <textarea rows="1" ng-model="main.customer.zip" class="short-textarea"></textarea>&nbsp
    </div>
    <div class="single-centered">
      Primary/Associate: {{main.customer.gpType}}
      <!--<ui-select ng-model="main.customer.gpType" theme="selectize">
        <ui-select-match placeholder="Choose...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="choice in ['Primary','Associate']" >
          <div ng-bind-html="choice | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>-->
    </div>
    <div class="single-centered">
      <button class="btn btn-info" ng-click="main.updateCustomer()">Update Member Details</button>
    </div>
    <div class="single-centered">
      <h5>Current Points: {{main.customer.currentPoints}} ({{main.customer.combinedPoints||main.customer.currentPoints}}),  Member ID: {{main.customer.userId}}</h5>
    </div>
    <div ng-if="main.customer.gpType==='Primary'">
      <div class="single-centered" ng-if="main.associated.length>0">
        Associated Accounts: &nbsp
        <ui-select ng-model="main.selectedAssociate" theme="selectize">
          <ui-select-match placeholder="Choose...">{{$select.selected.fullName}}, ID: {{$select.selected.userId}}, pts: {{$select.selected.currentPoints}}</ui-select-match>
          <ui-select-choices repeat="choice in main.associated" >
            <div ng-bind-html="choice.fullName + ', ID: '+ choice.userId + ', pts: ' + choice.currentPoints | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="single-centered" ng-if="main.associated.length>0">
        <button class="btn btn-secondary" ng-click="main.changePrimary()"
            uib-tooltip="To change the person who is the primary on this membership, select from the list below then click this button.">
            Click to Change Primary</button>
      </div>
    </div>
    <div ng-if="main.customer.gpType==='Associate'" class="single-centered">
      Your Primary Member ID is {{main.customer.primaryUserId}}
    </div>
    <div class="single-centered"><h4>Gold Points Transactions</h4></div>
    <div ng-if="main.customerTransactions.length===0">
      <h4>No Transactions yet for that member!</h4>
    </div>
    <table class="table table-bordered table-striped">
      <tbody><tr ng-repeat="tran in main.customerTransactions track by $index">
        <td>{{tran.userId}}</td>
        <td>{{tran.dateFlown}}</td>
        <td>{{tran.awardRedeem}}</td>
        <td>{{tran.points}}</td>
        <td>{{tran.description}}</td>
        <td>{{tran.status}}</td>
        <td>{{tran.lastUpdatedBy}}</td>
        <td ng-if="main.hasRole('superadmin')"><a ng-click="main.deleteTransaction(tran,$index)" class="trash">
            <span class="fa fa-trash fa-2x" uib-tooltip="Delete Transaction"></span></a></td>
      </tr></tbody>
    </table>
    <!--Admin Functions, eventually open some up to guests-->
    <div ng-if="main.hasRole('user')">
      <!--Transfer Gold Points, need User Id-->
      <hr>
      <div class="single-centered">
        <h3>Transfer Gold Points</h3>
      </div>
      <div class="single-centered">
        <button class="btn btn-primary" ng-click="main.transfer()">Transfer</button>&nbsp
        (up to {{main.customer.combinedPoints}})&nbsp <textarea rows="1" ng-model="main.gpTransfer.points"></textarea>&nbsp
        To User ID: &nbsp <textarea rows="1" ng-model="main.gpTransfer.userId"></textarea>&nbsp
      </div>
      
      
    </div>
  </div>
  <!--Add New User-->
  <div ng-if="main.testView('Create Member')">
    <div class="single-centered">
      <h3>Add a New Gold Points Member</h3>
    </div>
    <div class="single-centered">
      First: &nbsp
      <textarea rows="1" ng-model="main.newMember.firstName" ng-keydown="main.handle($event,0)"></textarea>&nbsp
      Middle: &nbsp
      <textarea rows="1" ng-model="main.newMember.middleName" ng-keydown="main.handle($event,0)"></textarea>&nbsp
      Last: &nbsp
      <textarea rows="1" ng-model="main.newMember.lastName" ng-keydown="main.handle($event,1)"></textarea>&nbsp
    </div>
    <div class="single-centered">
      Date of Birth: &nbsp
      <textarea rows="1" ng-model="main.newMember.dob" ng-keydown="main.handle($event,1)"></textarea>&nbsp
      Email: &nbsp
      <textarea rows="1" ng-model="main.newMember.email" ng-keydown="main.handle($event,1)"></textarea>&nbsp
      Phone: &nbsp
      <textarea rows="1" ng-model="main.newMember.phone" ng-keydown="main.handle($event,1)"></textarea>
    </div>
    <div class="single-centered">
      Address: &nbsp
      <textarea rows="1" ng-model="main.newMember.address" class="short-textarea" ng-keydown="main.handle($event,1)"></textarea>&nbsp
      City: &nbsp
      <textarea rows="1" ng-model="main.newMember.city" class="short-textarea" ng-keydown="main.handle($event,1)"></textarea>&nbsp
      State: &nbsp
      <textarea rows="1" ng-model="main.newMember.state" class="short-textarea" ng-keydown="main.handle($event,1)"></textarea>&nbsp
      Zip: &nbsp
      <textarea rows="1" ng-model="main.newMember.zip" class="short-textarea" ng-keydown="main.handle($event,1)"></textarea>
    </div>
    <div class="single-centered">
      Select Membership Type: &nbsp
      <ui-select ng-model="main.newMember.gpType" theme="selectize">
        <ui-select-match placeholder="Choose...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="choice in ['Primary','Associate']" >
          <div ng-bind-html="choice | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <textarea rows="1" ng-model="main.newMember.primaryUserId" ng-if="main.newMember.gpType==='Associate'"
          class="short-textarea" ng-keydown="main.handle($event,1)"></textarea>&nbsp&nbsp&nbsp
      <span ng-if="main.newMember.gpType==='Associate'">Primary Member's ID</span>
    </div>
    <div class="single-centered" ng-if="main.newMember.gpType==='Primary'">
      Associate Members (First and Last Name)
    </div>
    <div class="single-centered" ng-if="main.newMember.gpType==='Primary'" ng-repeat="ass in main.newMember.associates track by $index">
      <textarea rows="1" ng-model="ass.firstName" ng-keydown="main.handle($event,1)"></textarea>&nbsp
      <textarea rows="1" ng-model="ass.lastName" ng-keydown="main.handle($event,1)"></textarea>&nbsp
    </div>
    <div class="single-centered">
      <button class="btn btn-info" ng-click="main.createNewMember()">Create New GP Member</button>
    </div>
    <hr>
    <div class="single-centered">
      <h3>Add Existing Gold Points Members to an existing Primary Gold Points Member Account</h3>
    </div>
    <div class="single-centered">
      <strong>Primary User Id: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          Associate Member User Id(s) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong>
    </div>
    <div class="single-centered">
      <textarea rows="1" ng-model="main.existing.primary" class="short-textarea" ng-keydown="main.handle($event,4)"></textarea>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <textarea rows="1" ng-model="main.existing.associates[0]" class="short-textarea" ng-keydown="main.handle($event,4)"></textarea>&nbsp
      <textarea rows="1" ng-model="main.existing.associates[1]" class="short-textarea" ng-keydown="main.handle($event,4)"></textarea>&nbsp
      <textarea rows="1" ng-model="main.existing.associates[2]" class="short-textarea" ng-keydown="main.handle($event,4)"></textarea>&nbsp
      <textarea rows="1" ng-model="main.existing.associates[3]" class="short-textarea" ng-keydown="main.handle($event,4)"></textarea>
    </div>
    <div class="single-centered">
      <button class="btn btn-info" ng-click="main.processExisting()">Attach Associate Members</button>
    </div>
  </div>
  <!--List By Points-->
  <div style="margin-left:10%;margin-right:10%;" ng-if="main.testView('List By Points')">
      <table class="table table-bordered table-striped">
        <thead><tr style="background-color:black;">
          <td style="color:white;font-weight:bold">Account</td>
          <td style="color:white;font-weight:bold">User ID</td>
          <td style="color:white;font-weight:bold">Full Name</td>
          <td style="color:white;font-weight:bold">Email</td>
          <td style="color:white;font-weight:bold">Phone</td>
          <td style="color:white;font-weight:bold">Points</td>
        </tr></thead>
        <tbody><tr ng-repeat="c in main.allCustomers">
          <td>{{c.account}}</td>
          <td>{{c.userId}}</td>
          <td>{{c.fullName}}</td>
          <td>{{c.email}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.currentPoints}}</td>
        </tr></tbody>
      </table>
  </div>
  <!--All Transactions-->
  <div style="margin-left:10%;margin-right:10%;" ng-if="main.testView('All Transactions')">
      <table class="table table-bordered table-striped">
        <thead><tr style="background-color:black;">
          <td style="color:white;font-weight:bold">Tran ID</td>
          <td style="color:white;font-weight:bold">User ID</td>
          <td style="color:white;font-weight:bold">Date Flown</td>
          <td style="color:white;font-weight:bold">Type</td>
          <td style="color:white;font-weight:bold">Points</td>
          <td style="color:white;font-weight:bold">Desription</td>
          <td style="color:white;font-weight:bold">Agent ID</td>
          <td></td>
        </tr></thead>
        <tbody><tr ng-repeat="tran in main.allTransactions">
          <td>{{tran._id}}</td>
          <td>{{tran.userId}}</td>
          <td>{{tran.dateFlown}}</td>
          <td>{{tran.awardRedeem}}</td>
          <td>{{tran.points}}</td>
          <td>{{tran.description}}</td>
          <td>{{tran.status}}</td>
          <td>{{tran.lastUpdatedBy}}</td>
          <td ng-if="main.hasRole('superadmin')"><a ng-click="main.deleteTransaction(tran,$index,'all')" class="trash">
            <span class="fa fa-trash fa-2x" uib-tooltip="Delete Transaction"></span></a></td>
        </tr></tbody>
      </table>
  </div>
</div>